.message__btns_group {
	display: flex;
	justify-content: space-between;
	.btns__group_smth {
		display: flex;
		align-items: center;

		@media (max-width: 500px) {
			display: none;
		}
	}
	.btns__group_smth img {
		margin-right: 10px;
		height: 30px;
		cursor: pointer;
	}
	.btns__group_options {
		display: flex;
		align-items: center;

		.group__options {
			display: flex;
			align-items: center;
			cursor: pointer;
			margin-left: 5px;
			img {
				height: 25px;
				width: 25px;
			}
			.favorite_icon {
				color: #CDCDCD;
				font-size: 1.5rem;
				transition: .2s linear;
			}
			.inactive__favorite:hover {
				color: #0088EE;
			}
			.active__favorite {
				color: #0088EE;
			}
		}
	}

	@media screen and (max-width: 1160px) {
		width: 100%;
		justify-content: flex-end;
	}
}